body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #969690;
    text-transform: capitalize;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter{
    text-align: center;
    background: #fff;
    padding: 1rem;
    flex: 0 0 70%;
    box-shadow: 1px 1px 1px 2px black;
    margin-bottom: 30px;
}
.counterNum{
    font-size: 3.5rem;
}

.btn{
    padding: 10px 30px;
    font-size: 25px;
}
#lowerBtn{
    margin-right: 10px;
}